<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Save New Barista</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="container">
            <h2>Add new Barista</h2>
            <form action="#" th:action="@{save-barista}" method="post">
                <input
                type="text"
                class="form-control mb-4 col-4"
                placeholder="Input Your Name"
                th:field="${barista.name}"
              />
              <input
                type="text"
                class="form-control mb-4 col-4"
                placeholder="Input Your Age"
                th:field="${barista.age}"
                />
                <input
                    type="text"
                    class="form-control mb-4 col-4"
                    placeholder="Input Your Gender"
                    th:field="${barista.gender}"
                />
                <input
                    type="text"
                    class="form-control mb-4 col-4"
                    placeholder="Input Your Email"
                    th:field="${barista.email}"
                />
                <input type="submit" class="btn btn-success col-2" value="save">
            </form>
        </div>
    </body>
</html>